---
- name: nginx - install repo
  yum_repository:
    name: nginx
    description: Nginx
    baseurl: http://nginx.org/packages/centos/$releasever/$basearch/
    enabled: true
    gpgcheck: false

- name: disable default nginx
  shell: yum module disable nginx -y
  args:
    warn: false

- name: nginx - install packages dependencies
  dnf:
    name:
      - nginx
      - php-fpm
      - unit-php
    state: present
    update_cache: true

- name: nginx - start php-fpm service
  service:
    name: php-fpm
    enabled: true
    state: started
  when: not test_mode

- name: nginx - start nginx service
  service:
    name: nginx
    enabled: true
    state: started
  when: not test_mode

- name: nginx - generate ssl dhparam
  shell: openssl dhparam -out /etc/nginx/dhparam.pem 2048
  register: dhparam
  args:
    creates: /etc/nginx/dhparam.pem

- name: nginx - Install php-fpm.conf
  template:
    src: www.conf
    dest: /etc/php-fpm.d/www.conf
    mode: 0644
  register: php_fpm_config
  notify:
    - restart_php-fpm

- name: nginx - Install nginx.conf
  template:
    src: nginx.conf
    dest: /etc/nginx/nginx.conf
    mode: 0644
  register: nginx_config
  notify:
    - restart_nginx
